<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.techweb.helloword.demo.heloword.AppTest"/>
      <class name="demo.orangeHRM"/>
      <class name="demo.testgoogle"/>
      <class name="demo.test001"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
